Repository StegVerse/StegVerse-SCW, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stegverse/maintainers, @stegverse/devops, @stegverse/backend, @stegverse/frontend

.github/CODEOWNERS:

*  @stegverse/maintainers
.github/**  @stegverse/devops
api/**      @stegverse/backend
ui/**       @stegverse/frontend

Create CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @stegverse/maintainers

Create security.md
  security.md
Owners: @stegverse/maintainers

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @stegverse/devops

Create bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @stegverse/devops

Create ci.yml
  .github/workflows/ci.yml
Owners: @stegverse/devops

Create pyproject.toml
  pyproject.toml
Owners: @stegverse/maintainers

Create test_smoke.py
  tests/test_smoke.py
Owners: @stegverse/maintainers

Create renovate.json
  renovate.json
Owners: @stegverse/maintainers

Create codeql.yml
  .github/workflows/codeql.yml
Owners: @stegverse/devops

Create nightly_snapshot.yml
  .github/workflows/nightly_snapshot.yml
Owners: @stegverse/devops

Create RUNBOOK_worker.md
  docs/RUNBOOK_worker.md
Owners: @stegverse/maintainers

Create operations.md
  docs/operations.md
Owners: @stegverse/maintainers

Create rotations.md
  docs/rotations.md
Owners: @stegverse/maintainers

Create _headers
  public/_headers
Owners: @stegverse/maintainers

Create observability.py
  api/observability.py
Owners: @stegverse/backend

Update main.py
  api/main.py
Owners: @stegverse/backend

Update worker.py
  worker/worker.py
Owners: @stegverse/maintainers

Create OPENAPI_NOTES.md
  docs/OPENAPI_NOTES.md
Owners: @stegverse/maintainers

Update observability.py
  api/observability.py
Owners: @stegverse/backend

Update worker.py
  worker/worker.py
Owners: @stegverse/maintainers

Create self_repair_autopatch.yml
  .github/workflows/self_repair_autopatch.yml
Owners: @stegverse/devops

Create smoke_api_worker.yml
  .github/workflows/smoke_api_worker.yml
Owners: @stegverse/devops

Update one_button_supercheck.yml
  .github/workflows/one_button_supercheck.yml
Owners: @stegverse/devops

Update workflow_preflight.yml
  .github/workflows/workflow_preflight.yml
Owners: @stegverse/devops

Update rebuild-kit.yml
  .github/workflows/rebuild-kit.yml
Owners: @stegverse/devops

Update codeql.yml
  .github/workflows/codeql.yml
Owners: @stegverse/devops

Update one_button_supercheck.yml
  .github/workflows/one_button_supercheck.yml
Owners: @stegverse/devops

Create fix_it.yml
  .github/workflows/fix_it.yml
Owners: @stegverse/devops

Create yaml_corrector.yml
  .github/workflows/yaml_corrector.yml
Owners: @stegverse/devops

Create yaml_corrector_v2.yml
  .github/workflows/yaml_corrector_v2.yml
Owners: @stegverse/devops

Create requirements-yaml.txt
  scripts/requirements-yaml.txt
Owners: @stegverse/maintainers

Create yaml_corrector_v2.py
  scripts/yaml_corrector_v2.py
Owners: @stegverse/maintainers

Update one_button_supercheck.yml
  .github/workflows/one_button_supercheck.yml
Owners: @stegverse/devops

Update fix_it.yml
  .github/workflows/fix_it.yml
Owners: @stegverse/devops

Create sweep_all.yml
  .github/workflows/sweep_all.yml
Owners: @stegverse/devops

Create **
  .github/trigger/fixit/**
Owners: @stegverse/devops

Create **
  .github/trigger/sweep/**
Owners: @stegverse/devops

Update rebuild-kit.yml
  .github/workflows/rebuild-kit.yml
Owners: @stegverse/devops

Create run-1.txt
  .github/trigger/rebuild/run-1.txt
Owners: @stegverse/devops

Update rebuild-kit.yml
  .github/workflows/rebuild-kit.yml
Owners: @stegverse/devops
